<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can send Jason Bowman (jason@nine.is) an email telling him to get to work, because this page <b><i>could</i></b> contain actual content.
</p>