<div class="center hero-unit">
  <h1>Welcome to tributari.es</h1>

  <h2>
    This is the home page for the development branch of tributari.es
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>